.App{
    display: flex;
  flex-direction: column;
  min-height: 100vh;
  .content {
    flex: 2;
  }
}

.header{
    border-block-start-width: 4px;
    border-block-start-style: solid;
    border-block-start-color: #990000;
    
    &__text{
        background-color: #7A1705;
        width: 100vw;
        &__iub{
            margin-left: 12%;
            font-family: "BentonSansCondRegular", "Arial Narrow", Arial, Helvetica, sans-serif;
        }
    }
    &__logo{
        height: 90px;
        position: absolute;
        transform: translateX(100%);
    }
}

.App-links{
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: larger;
    &__item{
        font-weight: bold;
        color: #990000;
        text-decoration: none;
        list-style: none;
    }
}

.references{
    color: #00008B;
}

.pageHeader{
    font-family: 'BentonSansCond',Verdana,Arial,sans-serif;
    color: #795548;
    letter-spacing: 4px;
    font-weight: 500;
}